<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="EIDdbConnectionString"  connectionString="Data Source=.;Initial Catalog=eiddb;User ID=sa;Password=imsa" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authorization>
        <deny users="?" />
      </authorization>
      <authentication mode="Forms">
        <forms name="LoginCookie" loginUrl="index.aspx" timeout="20" defaultUrl="Welcome.aspx" />
      </authentication>
    </system.web>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="style/css/Lgoinlo.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>

